.root {
    -fx-padding: 0;
    -fx-font-family: "Candara";
    -fx-font-size: 12;
    -fx-text-fill: #FFFFF0;
}

/* general */

.label {
    -fx-text-fill: #FFFFF0;
    -fx-background-color: transparent;
}

.split-pane {
    -fx-background-color: #222222;
    -fx-text-fill: #FFFFF0;
}

.bird-title-label {
    -fx-font-size: 27;
    -fx-font-weight: bold;
    -fx-font-family: "Candara";
    -fx-text-fill: #FFFFF0;
}

.text-field {
    -fx-text-fill: #FFFFF0;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #2F4F4F
}

/* header */

.header-bar {
    -fx-background-color: #000000;
}

.header-button {
    -fx-text-fill: #FFFFF0;
    -fx-background-color: transparent;
    -fx-font-family: "Wingdings 2";
    -fx-font-weight: bold;
    -fx-font-size: 25;
    -fx-cursor: hand;
    -fx-padding: 1;
}

.header-button2 {
    -fx-text-fill: #FFFFF0;
    -fx-background-color: transparent;
    -fx-font-family: "Wingdings";
    -fx-font-weight: bold;
    -fx-font-size: 25;
    -fx-cursor: hand;
    -fx-padding: 1;
}

.toggle-button {
    -fx-text-fill: #FFFFF0;
    -fx-background-color: transparent;
    -fx-font-family: "Candara";
    -fx-font-size: 18;
    -fx-cursor: hand;
    -fx-padding: 1;
    -fx-border-color: #FFFFF0;
    -fx-border-radius: 3px;
    -fx-padding: 3;
}


/*style table*/
.table-view .virtual-flow .scroll-bar:vertical {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .virtual-flow .scroll-bar:horizontal {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .corner {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .filler {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}


.table-view .column-header-background .label {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
    -fx-text-fill: #FFFFF0;
}

.table-view {
    -fx-background-color: #222222;
    -fx-text-fill: #FFFFF0;
}

.table-row-cell:odd {
    -fx-background-color: #333333;
}

.table-row-cell:even {
    -fx-background-color: #222222;
}

.table-cell {
    -fx-text-fill: #FFFFF0;
}

.table-row-cell:selected {
    -fx-background-color: linear-gradient(#2F4F4F 0%, #424141 100%);
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #222222 transparent #222222;
    -fx-background-color: transparent, derive(#222222,10%);
}
